.tabl {
	margin: 10px;
	min-width: 98%;
	text-align: center;
	display: table;
}
.cont {
	margin: auto;
	min-width: 98%;
	text-align: center;
}
.holiday_box {
	float: left;
	margin: auto;
	width: 49%;
}
.customer_box {
	float: right;
	margin: auto;
	width: 49%
}
.connection_box {
	width: 80%;
	margin: auto;
	display: table;
	margin-top: 15px;
}
.p_buttons {
	margin-top: 8px;
}
select, option {
  font-family: monospace;
  white-space: pre;
}